#content
  h1 Cozy WebId
  h2 Welcome
  p
      form(action="/webid/new", method="post")
          keygen(id="pubkey", name="pubkey", challenge="mychallenge", keytype="rsa")
          button#generate generate
